header {
  border-bottom: 1px solid var(--bs-secondary);
  padding: 2rem;
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  background: var(--glass-dark-25);
  z-index: 5;
  position: sticky;
  top: 0px;
}

header > button {
  display: none;
}

#mobile-nav {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  align-content: center;
}

.header-container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: row;
}

header h1 {
  margin: 0;
  color: var(--bs-light);
  font-style: italic;
  font-weight: 200;
  padding-bottom: 0rem;
}

@media only screen and (max-width: 800px) {
  .header-container {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  header {
    position: fixed; /*both sticky and fixed work nice */
    width: 100%;
    padding: 2rem 0rem;
    height: 112px;
    overflow: hidden;
    top: -90px;
    transition: all 0.5s ease-in-out;
  }

  #mobile-nav {
    justify-content: space-around;
  }

  .btn {
    display: inline-block !important;
  }
}

input {
  border: none;
  color: var(--bs-light);
  font-size: 1.2rem;
  border: 1px solid var(--bs-secondary);
  padding: 1rem;
  width: 12rem;
  font-weight: 100;
  transition: all 0.5s ease-in-out;
  background: var(--glass-dark-25);
}

input:hover {
}

input::placeholder {
  color: var(--bs-light);
  font-size: 1.2em;
}

input:focus {
  width: 24rem;
  border-color: var(--bs-primary);
  outline: none;
}

.show-search {
  top: 0px;
}

.btn {
  color: var(--bs-light);
  height: 3rem;
  width: 3rem;
  background-color: var(--glass-dark-25);
  cursor: pointer;
  border: 1px solid var(--bs-secondary);
}

header .btn {
  display: none;
}

.btn:hover {
  border: 1px solid var(--bs-primary);
}

.rotate {
  padding: 0rem 0.5rem;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
