body {
  margin: 0;
  overflow: auto;
  background-color: var(--bs-dark);
}

* {
  font-family: "Montserrat", sans-serif;
  user-select: none;
}

main {
  padding: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
  align-items: stretch;
}

@media only screen and (max-width: 1700px) {
  main {
    padding: 4rem 0rem;
  }
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 16px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 1rem;
  border: 1px solid var(--bs-secondary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--glass-dark-50);
  border: 1px solid var(--bs-light);
}

*::-webkit-scrollbar-button {
  display: none;
}

.overflow-h {
  overflow: hidden;
}

.overflow-a {
  overflow: auto;
  height: inherit;
}
span {
  pointer-events: none;
}

a {
  color: white !important;
  font-style: italic;
  font-weight: 400;
}

h1 {
  margin: 0px;
 
}
viewport h1 span {
  margin: 0px;
  text-align: center;
  font-weight: 900;
  font-family: Kanit;
  font-style: italic;
  font-size: 5rem;
  padding-top: 2rem;
  display: block;
  margin: 11px 0 17px 0;
  color: var(--glass-dark-50);
  text-shadow: 0 -2px 1px var(--bs-secondary),
    0 13.36px 8.896px var(--glass-dark-50);
  letter-spacing: -2px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--bs-primary);
}

@media only screen and (max-width: 800px) {
  viewport h1 span {
    padding-top: 3em;
    font-size: 3rem;
    /* letter-spacing: -4px; */
  }
}
