movie {
  position: fixed;
  z-index: 10;
  top: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background-color: var(--glass-dark-50);
  transition: 0.5s top ease-in-out;
  /* padding: 5rem; */
  border-top: 1px solid var(--bs-secondary);
}

.active {
  top: 0;
}

.movie-container {
  height: -webkit-fill-available;
  background-color: var(--glass-dark-50);
  /* border: 1px solid var(--bs-secondary); */
  position: relative;
  margin: 5rem;
}

@media only screen and (max-width: 1200px) {
  .movie-container {
    padding: 0rem;
    margin: 2rem;
  }
  .no-tag {
    font-size: 1.2rem !important;
  }
  .overflow-x-a {
    margin: 0px !important;
  }
}

.movie-container-span {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 1px solid var(--bs-primary);
}

.review-single {
  padding: 1rem;
  text-align: justify;
}

#container-details {
  height: -webkit-fill-available;
}

.tag {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.no-tag {
  text-align: center;
  font-size: 2rem;
}

.details-movie-card {
  height: inherit;
  cursor: pointer;
  width: auto;
  transition: 0.25s all ease-in-out;
  border: 1px solid transparent;
  transform: scale(0.9);
}

.details-movie-card:hover {
  border: 1px solid var(--bs-primary);
  transform: scale(1);
}

.details-movie-card > img {
  height: inherit;
}

.details-movie-card > h6 {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
}

.overflow-x-a {
  overflow-x: auto;
  overflow-y: hidden;
  height: -webkit-fill-available;
  margin: 1rem;
}
