movie {
  position: fixed;
  z-index: 10;
  top: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background-color: var(--glass-dark-50);
  transition: 0.5s top ease-in-out;
  /* padding: 5rem; */
  border-top: 1px solid var(--bs-secondary);
}

.active {
  transition-delay: 1s;
  top: 0;
}

.movie-container {
  height: -webkit-fill-available;
  background-color: var(--glass-dark-50);
  position: relative;
  margin: 5rem;
}

@media only screen and (max-width: 1200px) {
  .movie-container {
    padding: 0rem;
    margin: 2rem;
  }
  .no-tag {
    font-size: 1.2rem !important;
  }
  .overflow-x-a {
    margin: 0px !important;
  }
}

.movie-container-span {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 1px solid var(--bs-primary);
}

.review-single {
  padding: 1rem;
  text-align: justify;
}

#container-details {
  height: -webkit-fill-available;
}

.tag {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.no-tag {
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
}

.details-movie-card {
  height: inherit;
  cursor: pointer;
  width: auto;
  transition: 0.25s all ease-in-out;
  border: 1px solid transparent;
  transform: scale(0.9);
}

.details-movie-card:hover {
  border: 1px solid var(--bs-primary);
  transform: scale(1);
}

.details-movie-card > img {
  height: inherit;
}

.details-movie-card > h6 {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
}

.overflow-x-a {
  overflow-x: auto;
  overflow-y: hidden;
  height: -webkit-fill-available;
  margin: 1rem;
}

.title {
  grid-area: title;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 200;
  display: flex;
  justify-content: space-between;
  height: fit-content;
  position: relative;
}

@media only screen and (max-width: 1200px) {
  .title {
    font-size: 1.25rem;
  }
}

.player {
  grid-area: player;
  height: fit-content;
  width: auto;
  padding: 1rem;
  position: relative;
  height: 0;
}

.reviews {
  grid-area: reviews;
  padding: 1rem;
  font-weight: 200;
  width: auto;
  overflow-y: auto;
  position: relative;
  height: -webkit-fill-available;
}

.reviews > span {
  font-weight: 500;
}

.similar {
  grid-area: relative;
  padding: 1rem;
  padding-bottom: 0rem;
  font-weight: 200;
  width: auto;
  overflow-y: hidden;
  position: relative;
  overflow-x: hidden;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.border-secondary {
  border: 1px solid var(--bs-secondary);
}

.grid-container {
  margin: 1rem;
  align-content: stretch;
  height: inherit;
  width: auto;
  display: grid;
  grid-template-columns: 8fr 4fr;
  grid-template-rows: min-content 1fr 1fr;
  grid-template-areas:
    "title title "
    "player  reviews"
    "player  relative";
  gap: 1rem;
}

.grid-container > div {
  color: var(--bs-light);
  height: auto;
}

@media only screen and (max-width: 1200px) {
  .grid-container {
    margin: 2rem;
    grid-template-areas:
      "title title "
      "player player  "
      "relative reviews  "
      " relative reviews";
    grid-template-rows: auto auto 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .reviews {
    width: auto;
  }
  #video {
    height: 0px !important;
  }
}

#video {
  height: auto;
}

@media only screen and (max-width: 800px) {
  .grid-container {
    margin: 1rem;
    grid-template-areas:
      "title title "
      "player player  "
      "reviews reviews  "
      "relative relative ";
    grid-template-rows: auto auto 1fr 1fr;
  }
  .reviews {
    width: auto;
  }
  #video {
    height: 0px !important;
  }
}

.iframe-container {
  position: relative;
  /* width: 100%; */
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#similar {
  display: flex;
  gap: 1rem;
  font-weight: 200;
  width: auto;
  position: relative;
  height: -webkit-fill-available;
}

.movie-bar {
  display: flex;
  gap: 1rem;
  align-items: center;
}
