@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kanit:900");

@import url(colors.css);
@import url(main.css);
@import url(header.css);
@import url(card.css);
@import url(movie.css);

/* REMOVE FOR PERFORMANCE */
@import url(fancy.css);

/*  FANCY REMOVE FOR PERFORMANCE ON MOBILE DEVICES  */
/*  DISABLING FANCY IMPORT WILL PERFORM EVEN BETTER */
/*  AND REMOVE ANIMATIONS AND PERFORM EVEN BETTER   */

@media only screen and (max-width: 800px) {
  * {
    filter: drop-shadow(none) !important;
    box-shadow: none !important;
    /* text-shadow: none !important; */
    filter: blur(none) !important;
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
  }
}
