header {
  border-bottom: 1px solid var(--bs-secondary);
  padding: 2rem;
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  background: rgba(108, 130, 255, 0.05);
  z-index: 1;
}

.header-container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

header h1 {
  margin: 0;
  color: var(--bs-light);
  font-style: italic;
  font-weight: 200;
}

header h1 img {
  color: white;
  height: 2rem;
  transform: rotate(90deg);
  margin: 0rem 0.5rem;
}

input {
  border: none;
  color: var(--bs-light);
  font-size: 1.2rem;
  border: 1px solid var(--bs-secondary);
  padding: 1rem;
  width: 6rem;
  font-weight: 100;
  transition: all 0.5s ease-in-out;
  background: rgba(108, 130, 255, 0.05);
}

input:hover {
  width: 12rem;
}

input::placeholder {
  color: var(--bs-light);
  font-size: 1.2em;
}

input:focus {
  width: 12rem;
  outline: none;
  background-color: #00000088;
}
