body {
  margin: 0;
  overflow: auto;
  height: 100vh;

  background-color: var(--bs-dark);
}

* {
  font-family: "Montserrat", sans-serif;
  user-select: none;
}

main {
  padding: 5rem;
  display: flex;
  grid-template-rows: auto;
  place-items: center;
  justify-items: center;
  justify-content: space-evenly;
}
